<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(flash[:error], title: "Please pay attention!", sticky: false) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title'%>
  </div>

  <div class="field">
    <%= form.text_area :body, class: 'form-control', rows: 15, placeholder: 'Content'%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
