<%= form_for(@portfolio_item) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.file_field :main_image %>
  </div>

  <div class="field">
    <%= f.file_field :thumb_image %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <ul>
    <%= f.fields_for :technologies do |technology_form| %>
      <%= render 'technology_fields', f: technology_form %>
    <% end %>
    <div>
      <%= link_to_add_association 'Add Technology', f, :technologies %>
    </div>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>